* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

header {
    background-color: #FCEEF1;
    width: 1600px;
    height: 808px;
    right: 0px;
    top: 0px;
}

.right-img {
    padding-left: 900px;
}

.left-text {
    position: absolute;
    width: 725px;
    height: 228px;
    right: 845px;
    top: 215px;
}

.left-text h1 {
    font-style: bold;
    font-weight: 900;
    font-size: 70px;
    line-height: 1.2em;
    text-align: left;
    margin-left: 93px;
    color: #000000;
}

.left-text p {
    width: 504px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    text-align: left;
    color: #000000;
    margin-left: 115px;
    margin-top: 25px;
}

.main-button {
    background-color: #E55473;
    position: absolute;
    width: 160px;
    height: 54px;
    left: 160px;
    top: 408px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 20px;
}

.Our-Featured-Flowers {
    position: absolute;
    width: 1072px;
    height: 723.3px;
    top: 939px;
    display: flex;
}

.our-Featured-Flowers {
    width: 500px;
    height: 500px;
    margin-left: 90px;
    margin-top: 238px;
}

.heading {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.heading h2 {
    font-family: 'Work Sans';
    font-style: bold;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2em;
    color: #151414;

}

.heading p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.three-img {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.one-img {
    background-color: #f2dee7;
    padding: 80px 20px 0px 20px;
    border-radius: 200px 200px 0px 0px;
    height: 499px;
}

.two-img {
    background-color: #D9EFF1;
    padding: 80px 20px 0px 20px;
    border-radius: 200px 200px 0px 0px;
    height: 499px;
}

.threeone-img {
    background-color: #E3EBDB;
    padding: 80px 20px 0px 20px;
    border-radius: 200px 200px 0px 0px;
}

.img-under-text {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.just-three {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
    margin-top: 130px;
    padding: 70px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.just-one img {
    margin-left: 80px;

}

.just-two img {
    margin-left: 80px;

}

.just-threeone img {
    margin-left: 30px;

}

.flower-text {
    background-color: #FEF6F8;
    display: flex;
    margin-top: 120px;
    padding: 50px;

}

.fst-test {
    padding: 120px;
    text-align: center;
}

.fst-test p {
    width: 50%;
    text-align: center;
    padding-left: 255px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flower-text-button {
    background-color: #E55473;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.Instagram-sec {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.Instagram-sec p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Instagram-img {
    display: flex;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.Instagram-img1 {
    padding: 15px;
}

.Instagram-img2 {
    padding: 15px;
}

.Instagram-img3 {
    padding: 15px;
}

.Instagram-img4 {
    padding: 15px;
}

/* new  */

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.subscribe {
    background-image: url(../image/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.2);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.section-header h2{
    margin-top: 30px;

}
.subscribe .section-header h2,
.subscribe p {
    color: #000000;
    padding-top: 20px;

}
.form-row.justify-content-center {
    display: flex;
    justify-content: center;

}

.subscribe input {
    background: #fff;
    color: #060c22;
    border: 0;
    outline: none;
    margin: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
}

.subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: #E55473;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 16px;
    border-radius: 50px;
}


/* new end */


footer {
    background: #151414;
    position: absolute;
    width: 100%;
    height: 407px;
    left: 0px;
    top: 4100px;
}

section.footer-sec {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 120px;

}

.footer-sec h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 47px;
    color: #FFFFFF;
}

.footer-sec p {
    width: 580px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footerr a {
    margin-right: 10px;
    text-decoration: none;
    margin-top: 30px;
}

.Subscribe h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 454px;
}

.Subscribe input {
    margin-left: 454px;
    margin-top: 20px;
    width: 325px;
    height: 44px;
    font-size: 15px;
}

.Subscribe button {
    margin-left: 454px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .subscribe input {
        min-width: 400px;
    }

}